
/* This file contains all the constants used in the Temple Inn website. */


// Colors
$white: #F2F2F0;
$gold: #F2C166;
$cream: #F2E2C4;
$lightBrown: #D9AA71;
$darkBrown: #BF7B3F;
$black: #000000;

// Fonts
$headingFont: 'EB Garamond', serif;
$bodyFont: 'Lato', sans-serif;
$regularWeight: 100;
$heavyWeight: 300;

// Header Constants
$logoBoarderRadius: 5px;